<% if alert %>
  <p class="alert alert-danger alert-dismissible fade show">
    <strong>⚠</strong> <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>

<% if notice %>
  <p class="alert alert-success alert-dismissible fade show">
    <strong>✅</strong> <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </p>
<% end %>

<% if user_signed_in? %>
  Welcome <%= current_user.email %>,
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Log in", new_user_session_path %> | 
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
